[{:itonami.blueprint/social-impact [:worker-safety :water-quality :resource-sustainability]
  :itonami.blueprint/domain :natural-resources/water-firewood-collection-site-scheduling-logistics-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "9624"
  :itonami.blueprint/name "Water and Firewood Collection Site Scheduling and Logistics Coordination Practice"
  :itonami.blueprint/governor :water-firewood-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-9624"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
